runtime: {{ .Runtime }}
env: {{.Env}}
threadsafe: {{.Threadsafe}}

{{if .Handlers -}}
handlers:
{{range .Handlers}}
- url: {{.Url}}
  script: {{.Script}}
{{end}}
{{- end}}

{{if .EnvVariables -}}
env_variables:
  {{- range $key, $value :=  .EnvVariables}}
  {{$key}}: {{$value}}
  {{- end}}
  API_KEY: {{ "secret/customers/api-keys/example-com.password" | hashiVault }}
{{- end}}
